.navbar {
  border-radius: 0;
}

.editBar {
  width:100%;
  height:100%;
  background-color: #04284D;
  display:none;

}

.navbar {
  background-color: #48d5b5
}

.navbar-brand {
  font-family: 'Pacifico', cursive;
  font-size: 30px;
}

#all-map {
  // height:90vw;
  // width:90vw;
  width:100%;
  height:50vw;


}

.register {
  width: 50%;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 70px;
}

.form-group {
  small.error {
    display: none;

  }}

  small.error {
    display: block;
    color:red;
  }
  .membersLogin {
    float: right;
  }

  .footer {
    background-color:  #70E4CA;
    height:60px;
  }

  img {
    height: 30px;
  }

  .you, .courtsimg, .nearbyplayersimg {
    height: 30px;
    margin-left: 10px;
  }

  .key {
    height: 20px;
    display: inline-block;
    padding-left: 115px;
    color: white;

  }

  .jointoday {
    color: white; 
  }
