.navbar {
  border-radius: 0;
}

.editBar {
  width:100%;
  height:100%;
  background-color: black;
  display:none;

}


#all-map {
  // height:90vw;
  // width:90vw;
  width:100%;
  height:50vw;


}

.register {
  width: 50%;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 70px;
}

.form-group {
  small.error {
    display: none;

  }

  small.error {
    display: block;
    color:red;
  }
