.navbar {
  border-radius: 0;
}

.editBar {
  width:100%;
  height:300px;
  background-color: black;
  display:none;
}

#all-map {
  // height:90vw;
  // width:90vw;
  width:100%;
  height:600px;


}
