.container {
  padding: 0;
}

.btn-outline-success {
  float: right;
}

.hero {
  height: 100vh;
  background-image: url('https://static.pexels.com/photos/7753/sun-ball-tennis-court.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  text-align: center;
  color: white;
}

.next-match {
  .col-md-6 {
    padding-bottom: 15px;
  }
  .image {
    min-height: 300px;
    background-image: url('https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/NBRVNC5FWO.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
  }
}

.venue {
  .col-md-6 {
    float: none;

    @media (min-width: 768px) {
      float: right;
    }
    padding-bottom: 15px;
  }
  .image {
    min-height: 300px;
    background-image: url('https://images.unsplash.com/photo-1448743133657-f67644da3008?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&s=26bbf528e41484813a58d28913f9778f');
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.form-group {
  small.error {
    display: none;
  }

  &.error {
    small.error {
      display: block;
      color:red;
    }
  }
}

.play-match {
  .col-md-6 {
    padding-bottom: 15px;
  }
  .image {
    min-height: 300px;
    background-image: url('https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/B1E30E39B7.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.venue h2, .next-match h2, .play-match h2 {
 padding-top: 15px;
}

.hero p {
  padding-top: 20px;
}

h1 {
  padding-top: 200px;
  color: white;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}

#map {

  width:500px;
  height:500px;
  background-color: red;
  // height:90vw;
  // width:90vw;
}

.court {
  width: 100%;
}

.loginbtn {

  float: right;
  color: #fff;
  background-color: #025aa5;
  border-color: #01549b;
  border: 1px solid transparent;
  padding: .5rem 1rem;
  font-size: 1rem;
  border-radius: .25rem;

}
